<h3>BioMek upload file</h3>   
<P> One file per BioMek run. Tab delimited text format, with column headings in first row.
 Text in column headings is not important, but data MUST be in the correct columns as indicated 
 below.</P>
  
  <P>
  <TABLE class="border"> 
  <colgroup>
  	<col width=5% />
	<col width=15% />
	<col width=40% />
	<col width=20% />
  </colgroup> 
  <TR>
    <TH>Col</TH>
    <TH>Field name</TH>
    <TH>Field description</TH>
    <TH>Example</TH></TR>
  <TR>
    <TD>A</TD>
    <TD>Oligo name</TD>
    <TD>Oligo name</TD>
    <TD>1_MseI_AKT1_ROI_11</TD></TR>
  <TR>
    <TD>B</TD>
    <TD>Source plate pos</TD>
    <TD>BioMec source plate position</TD>
    <TD>P1</TD></TR>
  <TR>
    <TD>C</TD>
    <TD>Source plate nr</TD>
    <TD>Source plate number (must match plate number in OligoDB)</TD>
    <TD>plate_0003</TD></TR>
  <TR>
    <TD>D</TD>
    <TD>Source well nr</TD>
    <TD>Source plate well number, pipetted from</TD>
    <TD>A1</TD></TR>
  <TR>
    <TD>E</TD>
    <TD>Dest plate pos</TD>
    <TD>BioMek destination plate position</TD>
    <TD>P6</TD></TR>
  <TR>
    <TD>F</TD>
    <TD>Dest plate nr</TD>
    <TD>Destination plate number</TD>
    <TD>pool_0001</TD></TR>
  <TR>
    <TD>G</TD>
    <TD>Dest well nr</TD>
    <TD>Destination plate well number, pipetted into</TD>
    <TD>B4</TD></TR>
  <TR>
    <TD>H</TD>
    <TD>Volume</TD>
    <TD>Volume (in ul) pipetted from source well, to destination well</TD>
    <TD>15</TD></TR></TABLE></P>