<h1>Listing pool_wells</h1>

<table>
  <tr>
  </tr>

<% for pool_well in @pool_wells %>
  <tr>
    <td><%= link_to 'Show', pool_well %></td>
    <td><%= link_to 'Edit', edit_pool_well_path(pool_well) %></td>
    <td><%= link_to 'Destroy', pool_well, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pool_well', new_pool_well_path %>
