<h3>Listing <%= @misc_oligos.size %> Miscellaneous Oligos for Pool</h3>

<% form_tag(:action => :create) do %>

 <%= submit_tag 'Create Pool' %><br/>
 
 <span class="notes"> Check oligos below, to include in pool</span>
 <%= check_box_tag("checkall", '1', false, {:onclick => "checkUncheckAll(this);"}) %>
 <span style="font-size:90%">Check/Uncheck All Oligos</span><br/><br/>

<%= render :partial => 'misc_oligos/list_oligos', :locals => {:misc_oligos => @misc_oligos,
                                                              :checkbox => true} %>

<% end %>