
<h3>Oligo Inventory query</h3>

<% form_tag :action=> 'select_params'  do %>

<table>	
  <%= render :partial => '/shared/project_select_one' %>
</table>

<p><%= submit_tag "Select parameters" %></p>
<%end%>

<%= link_to 'Back', :back %>
