<p id='comment_see'>
    <%= link_to_remote "Add a comment?",
            :url => { :action => 'commenting', :controller => 'comments' }%></p>

<div id='commenting' style='display:none'>
  <% form_tag :action => :add_comment, :id => id do%>
    <hr>
    <b>Add a Comment:</b><br>
	Title: <%= text_field_tag 'title', nil, :size => 50 %><br>
    Text:<%= text_area_tag 'comment', nil, :cols=>60, :rows=>3 %>
    <hr>
	<%= submit_tag "Add comment"%>
  <% end %>
</div>