   <li><%= link_to 'Oligo Design format', {:controller=>'help', :action=>'oligodesign'} %></li>
   <li><%= link_to 'Oligo Synthesis format', {:controller=>'help', :action=>'oligosynthesis'} %></li> 
   <li><%= link_to 'BioMek file format', {:controller=>'help', :action=>'biomekfile'} %></li>