<p class='notes'>Enter oligo ids separated by space, or copy/paste from an Excel row or column. <br />
Note: ids will take precedence over project/gene (ie. project/gene will be ignored if ids are entered) </p>