<h3>New BioMek run</h3>

<% form_for(@pool_plate) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'pool_plate', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Back', pool_plates_path %>
