<p>
  <b>Pool plate nr:</b>
  <%=h @pool_plate.pool_plate_nr %>
</p>

<p>
  <b>Pool well nr:</b>
  <%=h @pool_plate.pool_well_nr %>
</p>


<%= link_to 'Edit', edit_pool_plate_path(@pool_plate) %> |
<%= link_to 'Back', pool_plates_path %>
