<h1>Editing oligo_design</h1>

<% form_for(@oligo_design) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @oligo_design %> |
<%= link_to 'Back', oligo_designs_path %>
