<li><%= link_to_function "Create/Load BioMek", toggle_div(:biomeksubmenu) %></li>	
      <div id="biomeksubmenu", style="display:none">
      	 <ul>
	     <li><%= link_to 'Create BioMek Template', biomek_new_path %></li>
		 <li><%= link_to 'List BioMek Templates', biomek_files_path %></li>
	     <li><%= link_to 'Load BioMek File', {:controller=>'uploads', :action=>'index', 
                         :filetype => 'BioMek'}  %></li>
		 </ul>
      </div>