<li><%= link_to_function "Upd Plates/Pools", toggle_div(:upddtlssubmenu) %></li>	
      <div id="upddtlssubmenu", style="display:none">
      	 <ul>
	     <li><%= link_to 'Create/Update Pools', pools_url  %></li>
		 <li><%= link_to 'Update Oligo Plates', plates_edit_url %></li>	 
		 </ul>
      </div>