<table class="border">
  	<tr>
  	  <th>Vector Sequence: </th>
	  <td><%= f.text_field :vector %></td>
	</tr>
	
	<tr>
	  <th>U Vector Sequence</th>
	  <td><%= f.text_field :u_vector %></td>
	</tr>
  </table>