<h3>New vector</h3>

<% form_for(@vector) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'vector', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', vectors_path %>
