<h1>Select gene/enzyme to inventory </h1>

<% form_tag :action => 'list_inventory' do %>
<p>Gene:    <%= collection_select(:design, :gene, @genes, :gene_code, :gene_code) %> </p>
<p>Enzyme:  <%= collection_select(:design, :enzyme, @enzymes, :enzyme_code, :enzyme_code) %> </p>

<%= submit_tag "Submit" %>
</form>
<%end%>

