<h1>Select well volume threshold </h1>

<% form_tag :action => 'get_wellsltvolume' do %>
  <p>
    Volume (ul):  <%= text_field_tag :thresholdvol, @vol %>
  </p>
  <p>
    <%= submit_tag "Submit" %>
  </p>
<% end %>
</form>
