<h1>Listing genes</h1>

<table class="border">
  <tr>
    <th>Gene code</th>
    <th>Chromosome nr</th>
    <th>Accession nr</th>
  </tr>

<% for gene in @genes %>
  <tr>
    <td><%=h gene.gene_code %></td>
    <td><%=h gene.chromosome_nr %></td>
    <td><%=h gene.accession_nr %></td>
    <td><%= link_to 'Show', gene %></td>
  </tr>
<% end %>
</table>